* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-image: url("images/web bagground.png");
  background-repeat: repeat;
}

main {
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-top: 10px;
  width: 50%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.40);
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

textofprojects > p{
  background-color: rgba(0, 0, 0, 0.40);
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

maintext > p{
  background-color: rgba(0, 0, 0, 0.40);
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

footer{
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.40);
}

kontaktinfo > h6{
  font-size: 20px;
  margin-top: 55px;
  margin-bottom: 5px;
  padding-left: unset;
  padding-right: 25px;
}

a:link {
  color: rgb(184, 184, 255);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.left, .right{
  float: left ;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.40);
  padding-left: 50%;
  padding-right: 50%;
}
.main{
  float: left;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.40);
}
@media screen and (max-width:800px){
  .left .main .right {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.40);
  }
}